.timer {
  max-width: 100vh;
  margin: 0 auto;
  text-align: center;
  padding-top: 20vh;
  color: white;
}
.timer_display {
  margin: 0 auto;
  width: 70%;
}
.CircularProgressbar .CircularProgressbar-text {
  font-size: 26px;
}

@media (min-width: 768px) {
  .timer_display {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .timer_display {
    width: 30%;
  }
}
