.timer-settings {
  padding-top: 10vh;
  color: white;
  text-align: center;
}
.timer-settings_label {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  padding: 50px 0 10px 0;
}
.timer-settings-input {
  width: 60px;
  height: 40px;
  font-size: 20px;
  border: 2px solid transparent;
  text-align: center;
}

.timer-settings_button {
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgb(39, 39, 39);
  border: 2px solid transparent;
}
.timer-settings_button-set {
  display: block;
  width: 80px;
  margin: 50px auto;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(39, 39, 39);
  border: 2px solid transparent;
}
.timer-settings-show {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 26px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
}
