.taskList {
  margin: 0 auto;
  max-width: 95%;
}
.taskList h2 {
  font-size: 20px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  background-color: rgb(81, 133, 146);
}
.task__titel {
  flex-basis: 70%;
}
.task__title-date {
  font-style: italic;
  font-size: 14px;
  color: rgb(41, 41, 41);
}
.task__buttons {
  flex-basis: 30%;
  align-self: center;
}

.delete-button,
.done-button {
  font-size: 26px;
  background-color: transparent;
  border-color: transparent;
  color: rgb(71, 71, 71);
  padding: 5px;
}
.emptyListMessage {
  padding: 25px 0;
  font-size: 16px;
}

.taskList_done-tasks {
  max-height: 350px;
  overflow: hidden;
}

.taskList_done-tasks.active {
  max-height: 100%;
  overflow: visible;
}

.taskList_show-more-btn {
  font-size: 16px;
  padding: 5px 15px;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: var(--importantColor);
  border: 1px solid var(--importantColor);
  color: white;
}
