.timer {
  max-width: 100vh;
  margin: 0 auto;
  text-align: center;
  padding-top: 20vh;
}
.timer_display {
  margin: 0 auto;
  width: 70%;
}
.timer_button {
  display: inline-block;
  width: 80px;
  margin: 25px 5px;
  background-color: transparent;
  border: none;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 26px;
}
