.to-do-app {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}
@media (min-width: 768px) {
  .to-do-app {
    width: 70vw;
  }
}

@media (min-width: 1440px) {
  .to-do-app {
    width: 50vw;
  }
}
