.add_task_form {
  max-width: 80%;
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.add_task_form__input_task {
  flex-basis: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
}
.add_task_form__important {
  flex-basis: 100%;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.important__label {
  font-size: 16px;
  padding-right: 5px;
  cursor: pointer;
}
.important__checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.important__checkbox:after {
  content: "\2714";
  color: white;
  font-size: 18px;
  display: none;
}
.important__checkbox:checked {
  background-color: rgb(224, 107, 107);
  border: 1px solid rgb(224, 107, 107);
}
.important__checkbox:checked:after {
  display: block;
}

.add_task_form__date {
  flex-basis: 70%;
  margin-bottom: 5px;
}
.date__label {
  padding-right: 10px;
  font-size: 16px;
}
.date__input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}
.add_task_form__button {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

@media (min-width: 768px) {
  .add-task-form__input-task {
    flex-basis: 70%;
  }
}
