.timer_settings {
  padding-top: 10vh;
  text-align: center;
}
.timer_settings_label {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  padding: 50px 0 10px 0;
}
.timer_settings_input {
  width: 60px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: initial;
}

.timer_settings_button {
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: black;
  background-color: white;
  border: 2px solid rgb(101, 101, 101);
  cursor: pointer;
}
.timer_settings_button_set {
  display: block;
  width: 80px;
  margin: 50px auto;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}

.buttonDisable {
  background-color: rgb(202, 201, 201);
  cursor: not-allowed;
}
